<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Centaur: Ride</title>
</head>
<body>
    <h1>Let's ride!</h1>
    <a href="/">Back Home</a>
<!--     {{range .}}
      <div id="content">
        <h1>Capture Motion</h1>
        <button class="record" data-type="general">Start recording general on {{.Name}}</button>
        <br>
        <button class="record" data-type="walk">Start recording walk on {{.Name}}</button>
        <br>
        <button class="record" data-type="trot">Start recording trot on {{.Name}}</button>
        <br>
        <button class="record" data-type="canter">Start recording canter on {{.Name}}</button>
      </div>
    {{end}} -->

    <h1>What horse are you riding?</h1>
        {{range .}}
            <form method="POST" action="/startride">
                <input type="hidden" name="id" value="{{.Id}}"></input>
                <input type="submit" value="Start ride on {{.Name}}"></input>
            </form>
        {{end}}
</body>
</html>