<!DOCTYPE html>
<html lang="en">
<body onload="pageLoad()">
<head>
    <meta charset="UTF-8">
    <title>Centaur: Ride</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <h2>You are riding</h2>
    <a href="/">Back Home</a>
    <button class="record" data-type="canter">Stop ride #: {{ .}}</button>
    <h1><time>00:00:00</time></h1>

<script type="text/javascript">
      var recording = true;
      // var captureType = null;
      var captureData = null;
      var rideId = {{ .}};

      $(document).ready(function () {
        $(".record").click(function (event) {
          var el = $(this);
          stopRide(el);
        });
      });

      function stopRide(el) {
          recording = false;
          // set button text
          var test = "test";
          el.text("Start recording");
          window.ondevicemotion = undefined;
          $.ajax({
            method: "POST",
            url: `/stopRide?${rideId}`,
            data: JSON.stringify(test),
            contentType: "application/json",
            error: function(xhr, status, err) {
              // alert(xhr)
              console.log(xhr)
              // alert(status)
              console.log(status)
              // alert(err)
              console.log(err)
            },
            success: function(data) {
              // reset captureData for next run
              // alert('success!')
              console.log(data)
              // window.location.reload();
              window.location.href = `/rideSummary?${rideId}`; 
            }
          });
      }

      // function startCapture() {
      //   captureData = [];
      //   // start receiving motion events from browser
      //   window.ondevicemotion = capture;

      // }

      function sendData(data) {
          $.ajax({
            method: "POST",
            url: `/upload_data?${rideId}`,
            data: JSON.stringify(data),
            contentType: "application/json",
            error: function(xhr, status, err) {
              // alert(xhr)
              console.log(xhr)
              // alert(status)
              console.log(status)
              // alert(err)
              console.log(err)
            },
            success: function(data) {
              // reset captureData for next run
              // alert('success!')
              console.log(data)
              // window.location.reload();
            }
          });
        }

      function capture(e) {
        captureData.push({
          TimeStamp: e.timeStamp,
          AccelX: e.acceleration.x,
          AccelY: e.acceleration.y,
          AccelZ: e.acceleration.z
        });
        // check if data len is 10 here, if is post data to database
        if (captureData.length > 10) {
            sendData(captureData);
            captureData = [];
        }
      }

      function generateFakeEvent() {
        if (recording == true) {
          capture({ timeStamp: 1000, acceleration: { x: 1234.23423, y: 2765.3453, z: 3.0144444 }});
          setTimeout(generateFakeEvent, 100);
          }
        }


  
        function pageLoad() {
          starttimer()
          captureData = [];
          // // start receiving motion events from browser
          window.ondevicemotion = capture;
          // generateFakeEvent();
        }



        var starttime = new Date().getTime();
        var h1 = document.getElementsByTagName('h1')[0];

        function add() {
          var time = new Date().getTime();
          var delta = time - starttime;
          var hr = Math.round(delta / (1000 * 60 * 60));
          delta %= (1000 * 60 * 60);
          var min = Math.round(delta / (1000 * 60));
          delta %= (1000 * 60);
          var sec = Math.round(delta / 1000);

          h1.textContent = (hr ? (hr > 9 ? hr : "0" + hr) : "00") + ":" + (min ? (min > 9 ? min : "0" + min) : "00") + ":" + (sec > 9 ? sec : "0" + sec);

          timer();
        }
        function timer() {
          t = setTimeout(add, 1000);
        }

        function starttimer() {
          timer();
        }
    </script>
  </body>
</html>